.floor-plan-container {
    padding: 20px;
    text-align: center;
  }
  
  .floor-plan-svg {
    width: 100%;
    height: auto;
    border: 2px solid #2bbdc2;
    border-radius: 10px;
  }
  
  .room-group {
    cursor: pointer;
  }
  
  .room-group:hover rect {
    fill: #124c7c ;
  }
  
  .room-group:hover {
    transform: scale(1.2);
  }
  